doctype
html(lang="en")
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' type="text/css" href="css/styles.css")
        title= 'Photo_test'
        meta(name='viewport' content='width=device-width')
        meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1.0')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
        script(src='js/script.js')
    body
      .header__mobile
        .header__mobile_wrapper
          img(src='images/svg/menu_white.svg').mob_main_menu
          img(src='images/svg/logo_small.svg')
          img(src='images/svg/search_white.svg')
          img(src='images/svg/cart_white.svg')
        .header__mobile_filter
          p фототехника
          img(src='images/svg/filter_dark.svg').mob_filt
      .drop__mobile_menu
        .drop__mobile_list
          p подбор товаров
          img(src='images/svg/close_dark.svg').drop_close
        .drop__mobile_list
          p тип
        .drop__mobile_list.list_2
          p Компакт-камера
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Беззеркальная
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Зеркальная
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Среднеформатная
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list
          p бренд
        .drop__mobile_list.list_2
          p Canon
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Nikon
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Sony
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Fujifilm
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Samsung
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Olympus
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Panasonic
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p Polaroid
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list
          p цена в бел. рублях
        .drop__mobile_list.list_2
          p до 500 000
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p 500 000 - 1 000 000
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p 1 000 000 - 2 500 000
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p 2 500 000 - 5 000 000
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p 5 000 000 - 10 000 000
          img(src='images/svg/check_blue.svg')
        .drop__mobile_list.list_2
          p от 10 000 000
          img(src='images/svg/check_blue.svg')

      
      header.header
        .header__wrapper
          img.header__logo(src='images/svg/logo_big.svg')
          p.header__phone 8 800 777 50 50
          input(type='text' placeholder='ПОИСК ТОВАРОВ').header__search
          p.header__delivery доставка и оплата
          .header__menu
            p.header__menu__list мобильные телефоны
            p.header__menu__list планшеты
            p.header__menu__list фототехника
            p.header__menu__list ноутбуки
            p.header__menu__list телевизоры
          .header__cart
              img(src='images/svg/cart_white.svg').header__cart__img
              p.header__menu__list_cart корзина

      section.filter
        .filter__wrapper
          .filter__type
            p любого типа
            ul.filter__drop_menu
              li.filtet__drop_list компакт-камера
              li.filtet__drop_list беззеркальная
              li.filtet__drop_list зеркальная
              li.filtet__drop_list среднеформатная
            img(src='images/svg/drop_blue.svg').filter_drop
          .filter__type
            p любого бренда
            ul.filter__drop_menu.filter__drop_menu_2
              li.filtet__drop_list canon
              li.filtet__drop_list nikon
              li.filtet__drop_list sony
              li.filtet__drop_list fujifilm
              li.filtet__drop_list samsung
              li.filtet__drop_list olympus
              li.filtet__drop_list panasonic
              li.filtet__drop_list polaroid
            img(src='images/svg/drop_blue.svg').filter_drop_2
          .filter__type
            p по цене
          .filter__type
            p.filter__ot от
            input(type='text' placeholder='500 000').filter_inp
          .filter__type
            p.filter__ot до
            input(type='text' placeholder='25 000 000').filter_inp.filter_inp_2
          .filter__type
            p рублей
      
      section.prods
        - for(var i = 0; i < 12; i++)
          .prods__block
            .prods__block_2
              if(i !== 6 && i !== 1)
                mixin info(img, title, desc, price)
                  .prods_img_div
                    img(src='#{img}').prods__img
                  p.prods__title #{title}
                  p.prods_desc #{desc}
                  .prod_line
                  p.prods_price #{price}
                  img(src = 'images/svg/cart_blue.svg').prod_cart
              if (i == 6) 
                img(src='images/banner_b.png').prod__block_7
              if (i == 1)
                img(src='images/banner_a.png').prod__block_1
                p.prods__title.prod__block_1__desc Экшен-камера Xiaomi Yi Action Camera Basic Edition

              if(i == 0)
                +info('images/1200d.png', 'Canon EOS 1200D Kit 18-55mm IS II', 'Зеркальная, 18 Мп 1.6 crop, с объективом F3.5-5.6 18-55 мм, экран 3", видоискатель оптический', '5 967 000 руб.')

              if(i == 2 || i == 8)
                +info('images/700d.png', 'Canon EOS 700D Kit 18-55mm IS II', 'Зеркальная, 18 Мп 1.6 crop, с объективом F3.5-5.6 18-55 мм, экран 3" сенсорный, поворотный, видоискатель оптический', '8 355 000 руб.')

              if(i == 3 || i == 9)
                +info('images/x100s.png', 'Fujifilm X100S', 'Компакт-камера, 16.3 Мп 1.5 crop, F2.0 35 мм, экран 2.8"', '12 999 000 руб.')

              if(i == 4 || i == 10)
                +info('images/d3200.png', 'Nikon D3200 Kit 18-55mm VR', 'Зеркальная, 24.2 Мп crop, с объективом F3.5-5.6 18-55 мм, экран 3", видоискатель оптический', '5 967 000 руб.')

              if(i == 5 || i == 11)
                +info('images/a5000.png', 'Sony Alpha a5000 Kit 16-50mm', 'Беззеркальная, 20.1 Мп 1.5 crop, с объективом F3.5-5.6 16-50 мм, экран 3" поворотный, WiFi', '6 900 000 руб.')

              if(i == 7)
                +info('images/g7x.png', 'Canon PowerShot G7 X', 'Компакт-камера, 20.2 Мп 1", F1.8-2.8 24-100 мм 4X, экран 3" сенсорный, видоискатель электронный, WiFi', '8 499 000 руб.')


      footer
        p.footer__list © Технопарк 2016
        p.footer__list Доставка и оплата
        p.footer__list Техническая поддержка
        p.footer__list
          span Сделано в 
          Студии Вадима Скротского
      .popup
        img(src='images/svg/close_dark.svg').popup__close
        img(src='images/xe2.jpg').popup__photo
        .popup__info
          .popup__info_1
            p.popup__name Фотоаппарат Fujifilm X100S
            .popup__blocks
              ul
                li Тип камеры
                li Тип матрицы
                li Размер экрана
                li Количество точек матрицы
                li Физический размер матрицы
                li Фокусное расстояние
              ul
                li беззеркальная
                li CMOS
                li 3"
                li 16.3 Мп
                  span free space free space
                li APS-C(1.5 crop)
                  span free space free space
                li 35 мм
            p.popups__desc Полные характеристики
          .popup__info_2
            p.popup__name.popup__name_2 12 999 000 руб.
            .popup__cart
              img(src='images/svg/cart_blue.svg')
              p В КОРЗИНУ
            p В наличии
            p Доставка по Минску бесплатно с 11 до 20 часов.


          









                




